:root{
    /** Fonts*/
    --big-font-size:5rem;
    --medium-font-size:2.3rem;
    --small-font-size:1.8rem;

    /** Cards*/
    --card-width: 250px;
    --row-increment: 10px;
    --card-small:24;
    --card-medium:30;
    --card-large:45;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    min-height: 100%;
    font-family: "Lobster Two", sans-serif;
}
main{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(0,0,0,1), #F2613F);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button {
    position: absolute;
    top: 30px;
    left: 12%;
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #fff;
    border: none;
    color: #0b0c0a;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.6);
}

h1{
    padding-block: 15px;
    font-size: var(--big-font-size);
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

.main--line{
    height: 4px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #0C0C0C;
    margin-bottom: 15px;
}


.main--gallery-container{
    width: 80%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    grid-auto-rows: var(--row-increment);
    justify-content: center;
    
}


/** Cards*/
.main--gallery-item-general{
    position: relative;
    overflow: hidden;
    margin: 15px 10px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.6);
    color: #fff;
    text-align: left;
    background: #000;
}


.main--gallery-item-large{
    grid-row-end: span var(--card-large);
}

.main--gallery-item-medium{
    grid-row-end: span var(--card-medium);
}

.main--gallery-item-small{
    grid-row-end: span var(--card-small);
}


.main--gallery-item-general:before,
.main--gallery-item-general:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.main--gallery-item-general:before {
    width: 0;
    height: 1px;
  }
  
  .main--gallery-item-general:after {
    height: 0;
    width: 1px;
}

.main--gallery-item-general *,
.main--gallery-item-general:before,
.main--gallery-item-general:after {
    transition: all 0.4s ease;
}

.main--gallery-item-general img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    object-fit: cover;
    background-color: gray;
}

.main--gallery-item-general figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
}

.main--gallery-item-general h3{
  font-size: var(--medium-font-size);
  font-weight: normal;
  margin-bottom: 10px;
  opacity: 0;
  border-bottom: 1px solid #fff;
}

.main--gallery-item-general:hover img{
    opacity: 0.2;
}

.main--gallery-item-general:hover:before,
.main--gallery-item-general:hover:after{
    opacity: 1;
    transition-delay: 0.25s;
}

.main--gallery-item-general:hover:before {
    width: 20%;
}

.main--gallery-item-general:hover:after{
    height: 20%;
}

.main--gallery-item-general:hover h3{
    opacity: 1;
}

.main--gallery-item-general:hover h3{
    transition-delay: 0.3s;
}


/** Pop up container*/
.pop-up-container.display{
    top: 12.5%;
    visibility: visible;
}
.pop-up-container{
    position: fixed;
    top: -50%;
    left: 25%;
    width: 50vw;
    height: 65%;
    background-color: white;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
}

.pop-up-container::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.pop-up-container::-webkit-scrollbar-thumb {
    background-color: #F2613F;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.pop-up-container h2{
    font-size: var(--medium-font-size);
    text-align: center;
    margin-top: 10px;
}

.pop-up-container h3{
    font-size: var(--big-font-size);
    border-bottom: 1px solid #fff;
}


.pop-up-container h4{
    font-size: var(--medium-font-size);
}


/**Picture part*/
.pop-up-container__main-figure{
    position: relative;
    width: 100%;
    height: 50%;
    color: #fff;
}

.pop-up-container__main-figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Example gradient */
}

.pop-up-container__main-figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.pop-up-container__main-figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
}

.pop-up-container h5{
    font-size: 2rem;
    padding: 10px 10px 5px 10px;
    color: #0b0c0a;
    font-weight: bold;
    color: #F2613F;
}

.pop-up-container ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    list-style: none;
    font-size: var(--list-font-size);
}

.pop-up-container ul li {
    padding: 5px 10px;
    margin-inline:5px;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

/** Tag Part*/
.pop-up-container .pop-up-container__tag-list{
    padding-left: 10px;
    margin-bottom: 10px;
}

.pop-up-container__tag-list li{
    background-color:#F2613F;
    color: #fff;
}

.pop-up-container__tag-list li:hover {
    background-color: #fff;
    color: #F2613F; 
}

/** Ingredient section*/
.pop-up-container__ingredients-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color:#F2613F;
    color: #fff;
}

.pop-up-container__ingredients-container figure{
    width: 35%;
    height: 160px;
}

.pop-up-container__ingredients-container figure img{
    position: relative;
    top: -70px;
    left: -95px;
    width: 180%;
    height: 180%;
}

.pop-up-container__ingredients-title-list-container{
    width: 65%;
    height: 100%;
}

.pop-up-container__ingredients-title-list-container h2{
    text-align: left;
    padding-left:15px ;
}

.pop-up-container__ingredients-title-list-container ul{
    width: 100%;
    height: auto;
}

.pop-up-container__ingredients-title-list-container ul li:hover{
    background-color: #fff;
    color: #F2613F;
}

/**Preparation section*/
.pop-up-container__preparation-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.pop-up-container__preparation-container h2{
    text-align: left;
    padding-left:15px ;
    color: #F2613F;
}
.pop-up-container__preparation-title-list-container{
    width: 63%;
    min-height: 160px;
    height: 100%;
}

.pop-up-container__preparation-title-list-container p{
    font-size: 1.1rem;
    color: #0b0c0a;
    padding-left:15px;
    margin-top: 10px;
}

.pop-up-container__preparation-container figure{
    width: 35%;
    height: 100%;
}

.pop-up-container__preparation-container figure img{
    position: relative;
    top: -40px;
    right: 30px;
    width: 110%;
    height: 110%;
}

/** Button section*/
.pop-up-container__close-button{
    position: relative;
    left: 40%;
    margin: 20px;
    width: 15%;
    height: 40px;
    border-radius: 16px;
    background-color: #F2613F;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align:center;
    transition: all 0.3s ease-in-out;
}

.pop-up-container__close-button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 5px 4px rgba(11, 11, 10, 0.2);
}
