:root{
    --big-font-size:5rem;
    --medium-font-size:2.3rem;
    --small-font-size:1.8rem;
    --list-font-size:1.1rem;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    min-height: 100%;
    font-family: "Lobster Two", sans-serif;
}

.main{
    width: 100%;
    height: 100%;
}

/* * Div that contains the bg img*/
.main--bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/img/backgorund-body.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
}

/* * Main section of the main page*/
.main--title-form{
    position: absolute;
    width: 70%;
    height: 80%;
    right: 15%;
    top: 10%;
    padding: 20px;
    background-image: url('/img/backgorund-body.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-around;
}

/* * Section that contains the title*/
.main--title-section{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: var(--big-font-size);
    color: white;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}
.main--line{
    width: 18%;
    height: 3px;
    background-color: white;
    margin-bottom: 15px;
}

p{
    font-size: var(--small-font-size);
    color: white;
}
.main--form-container{
    display: flex;
    width: 45%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main--form-container form{
    display:flex;
    width: 90%;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
    flex-direction: column;
    padding: 10px;
    border-radius: 3px;
    justify-content: space-evenly;
    padding-inline:20px;
}



.main--form-container form span{
    display: block;
    font-size: var(--medium-font-size);
    font-weight: bold;
    text-align: center;
    color: #0b0c0a;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}

.main--form-container form span:hover{
    color: #F2613F;
}

.main--submit-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main--form-container form input{
    outline: none;
    padding: 10px;
    width: 85%;
    border-radius: 20px;
    border: 2px solid #0b0c0a;
    font-size: 16px;
    padding: 10px 15px;
    background-color: transparent;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.main--form-container form input:focus {
    background-color: white;
}

.main--form-container form input:hover {
    border-color: #F2613F;
    box-shadow: 0px 0px 5px 4px rgba(11, 11, 10, 0.2);
    background-color: white;
}

.main--form-container form input::placeholder {
    font-family: "Lobster Two", sans-serif;
    font-style: italic;
    color: #0b0c0a;
}

.main--form-container .main__submit-button{
    outline: none;
    border: 2px solid #0b0c0a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('/icons/magnifier.png');
    background-position:center;
    background-repeat:no-repeat;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.main--form-container form button:hover{
    background-color: white;
    box-shadow: 0px 0px 5px 4px rgba(11, 11, 10, 0.2);
    border-color: #F2613F;
}

.main--select-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

select {
    width: 80%;
    font-family: "Lobster Two", sans-serif;
    padding: 10px 15px;
    border: 2px solid #0b0c0a;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    appearance: none;
    text-align: center;
    background-color: transparent;
    background-image: none;
    transition: all 0.5s ease;
}

select:hover {
    background-image: linear-gradient(to left, #0b0c0a, #F2613F);
    color: white;
}

/** Pop up container*/
.pop-up-container.display{
    top: 12.5%;
    visibility: visible;
}
.pop-up-container{
    position: absolute;
    top: -50%;
    left: 25%;
    width: 50vw;
    height: 65%;
    background-color: white;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
}

.pop-up-container::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.pop-up-container::-webkit-scrollbar-thumb {
    background-color: #F2613F;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.pop-up-container h2{
    font-size: var(--medium-font-size);
    text-align: center;
    margin-top: 10px;
}

.pop-up-container h3{
    font-size: var(--big-font-size);
    border-bottom: 1px solid #fff;
}


.pop-up-container h4{
    font-size: var(--medium-font-size);
}


/**Picture part*/
.pop-up-container__main-figure{
    position: relative;
    width: 100%;
    height: 50%;
    color: #fff;
}

.pop-up-container__main-figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Example gradient */
}

.pop-up-container__main-figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.pop-up-container__main-figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
}

.pop-up-container h5{
    font-size: 2rem;
    padding: 10px 10px 5px 10px;
    color: #0b0c0a;
    font-weight: bold;
    color: #F2613F;
}

.pop-up-container ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    list-style: none;
    font-size: var(--list-font-size);
}

.pop-up-container ul li {
    padding: 5px 10px;
    margin-inline:5px;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

/** Tag Part*/
.pop-up-container .pop-up-container__tag-list{
    padding-left: 10px;
    margin-bottom: 10px;
}

.pop-up-container__tag-list li{
    background-color:#F2613F;
    color: #fff;
}

.pop-up-container__tag-list li:hover {
    background-color: #fff;
    color: #F2613F; 
}

/** Ingredient section*/
.pop-up-container__ingredients-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color:#F2613F;
    color: #fff;
}

.pop-up-container__ingredients-container figure{
    width: 35%;
    height: 160px;
}

.pop-up-container__ingredients-container figure img{
    position: relative;
    top: -70px;
    left: -95px;
    width: 180%;
    height: 180%;
}

.pop-up-container__ingredients-title-list-container{
    width: 65%;
    height: 100%;
}

.pop-up-container__ingredients-title-list-container h2{
    text-align: left;
    padding-left:15px ;
}

.pop-up-container__ingredients-title-list-container ul{
    width: 100%;
    height: auto;
}

.pop-up-container__ingredients-title-list-container ul li:hover{
    background-color: #fff;
    color: #F2613F;
}

/**Preparation section*/
.pop-up-container__preparation-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.pop-up-container__preparation-container h2{
    text-align: left;
    padding-left:15px ;
    color: #F2613F;
}
.pop-up-container__preparation-title-list-container{
    width: 63%;
    min-height: 160px;
    height: 100%;
}

.pop-up-container__preparation-title-list-container p{
    font-size: 1.1rem;
    color: #0b0c0a;
    padding-left:15px;
    margin-top: 10px;
}

.pop-up-container__preparation-container figure{
    width: 35%;
    height: 100%;
}

.pop-up-container__preparation-container figure img{
    position: relative;
    top: -40px;
    right: 30px;
    width: 110%;
    height: 110%;
}

/** Button section*/
.pop-up-container__close-button{
    position: relative;
    left: 40%;
    margin: 20px;
    width: 15%;
    height: 40px;
    border-radius: 16px;
    background-color: #F2613F;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align:center;
    transition: all 0.3s ease-in-out;
}

.pop-up-container__close-button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 5px 4px rgba(11, 11, 10, 0.2);
}



